
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.pdb
*.scc
*.vspscc
*.vssscc
*.vsscc
Debug/
Release/
TestResults/
test-results.xml
*test-results.xml
*.testrunconfig
_UpgradeReport_Files/
Backup*/
*.vsmdi
UpgradeLog*.XML
*.crunchproject.local.xml
*.orig
*.dbmdl
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution
*.dbproj.schemaview
*.dbmdl
*.mrx
NugetFeed/
Packages/
_TeamCity.*
build/scripts/TestResult.*
TestResults.xml
*.received.xml
output/