<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Core" version="2.5.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="TickSpec" version="1.0.0.1" targetFramework="net45" />
  <package id="TickSpec.NUnit" version="1.0.0.1" targetFramework="net45" />
  <package id="UnionArgParser" version="0.5.2" targetFramework="net45" />
</packages>